{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        body { background-image: url("{{asset('images/wallpaper.jpeg')}}"); background-attachment: fixed; }
        h2 { color : whitesmoke; }
    </style>
    <link href="{{asset('bundles/framework/css/signin.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
      <form class="form-signin" action="{{ path('seConnecter') }}" method="POST">
            <h2 class="form-signin-heading">Expeditor</h2>
            <label for="inputIdentifiant" class="sr-only">Identifiant</label>
            <input type="texte" name="identifiant" id="inputIdentifiant" class="form-control" placeholder="Identifiant" required autofocus>
            <label for="inputMotDePasse" class="sr-only">Mot de passe</label>
            <input type="Password" name="motDePasse" id="inputMotDePasse" class="form-control" placeholder="Mot de passe" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
      </form>

    </div>
{% endblock %}

