{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{asset('bundles/framework/css/signin.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
      <form class="form-signin">
            <h2 class="form-signin-heading">Expeditor</h2>
            <label for="inputEmail" class="sr-only">Identifiant</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Identifiant" required autofocus>
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
      </form>

    </div>
{% endblock %}

